@{
    ViewBag.Title = "Dashboard";
    ViewBag.Id = "dboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="row">
    <button id="c_load">LOAD</button>
</div>
<div class="row">
    <div id="chart_div" style="width:inherit; height:inherit;"></div>
</div>